<div id="imgdiv">
 <img id='img1'  [style.height.px]="myInnerHeight" [style.width.px]="myInnerWidth"src='assets/watercolor.jpg'>
 <div class="centered">Michal Kurzal Portfolio</div>
</div>

<mat-divider></mat-divider>

<div class="main">
  <a href="#div1">
  <mat-card class="example-card"   [ngStyle]="{'max-width.px':maxwidth}" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

  </mat-card>
</a>
  <mat-card class="example-card" [ngStyle]="{'max-width.px':maxwidth}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

  </mat-card>
  <mat-card class="example-card" [ngStyle]="{'max-width.px':maxwidth}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

  </mat-card>
</div>
<mat-divider></mat-divider>
<div class="div1" id="div1" [style.height.px]="myInnerHeight" [style.width.px]="myInnerWidth">
  <h1>My Knowledge</h1>
</div>
<div class="div2" id="div2" [style.height.px]="myInnerHeight" [style.width.px]="myInnerWidth">
  <h1>My Projects</h1>
</div>
<div class="div3" id="div3" [style.height.px]="myInnerHeight" [style.width.px]="myInnerWidth">
  <h1>My Education</h1>
</div>
<footer id="fdiv">
  
    <p>
      Michal Kurzal
    </p>
  <p>Angular</p>
</footer>
